body {
    background-image: url('https://media1.tenor.com/images/236f661f3277882d2d57a66901d39428/tenor.gif?itemid=5100696');
    background-size: cover;
    color: white

}
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}